<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
<head> 
    <script src='{{ 'easy_quote_sealapps.js' | asset_url }}' defer='defer' ></script> 
    <script id='quote_product_variants' type='application/json'>
        {{ product.variants | json }}
    </script>
    <script id='quote_product_selected_or_first_available_variant' type='application/json'>
        {{ product.selected_or_first_available_variant | json }}
    </script>
    <script id='quote_product_current_id' type='application/json'>
            {{ product.id | json }}
    </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
  <title>{{ page_title }}</title>

  {{ content_for_header }}

  {{ 'style.css' | asset_url | stylesheet_tag }}
  <script>
    // Hack to get the base asset URL
    window.assetBaseUrl = "{{ 'main.js' | asset_url }}".split('main.js')[0];
  </script>
  <script type="module" src="{{ 'main.js' | asset_url }}?v={{ 'now' | date: '%s' }}"></script>
</head>
<body>
  {% section 'header' %}

  <main role="main">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}
</body>
</html>
