<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="canonical" href="{{ canonical_url }}">
  <title>{{ page_title }}</title>

  {{ content_for_header }}

  {% comment %} 
    In a real integration, you would include the Vite built CSS here.
    Example: {{ 'style.css' | asset_url | stylesheet_tag }}
  {% endcomment %}
</head>
<body>
  {% section 'header' %}

  <main role="main">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}
</body>
</html>
